.chat-box{
    color: #D2D0CE;
}

.chat-window::-webkit-scrollbar {
    display: none;
  }

.text-box{
    width: 100%!important;
    height: 75%;
}

.send-button{
    width: 100%!important;
    background-color: #3B3A39;
}

.text-area{
    background-color: #3B3A39;
    border-radius: 1rem 1rem 0 0;
    color: inherit;
    border: none;
    padding: 1rem;
}.text-area:focus {
    outline: none;
}

.send-button{
    border-radius: 0 0 1rem 1rem;

}
.send{
    background-color: inherit;
	border: none;
	outline: inherit;
    border-radius: 0 0 1rem 1rem;
    color: inherit;
}
.bg-secondary{
    background-color: #212020 !important;
}

.chat-bubble{
    background-color: #3B3A39;
    padding: 0.6rem 0.5rem 0.6rem;
    color: #D2D0CE ;
    width: fit-content;
    border-radius: 0.25rem;
}

.user-chat{
    text-align: right;
}
.other-chat{
    text-align: left;
}